<section class="container-fluid m-l-75">
	

	<div class="row" id="scrollArea"> <!--start row -->  
		<div class="col-md-12 col-sm-12 bg-l-gray">
			<div class="col-md-4 col-sm-6">
				<div class="p-10" > <!--left right -->
					<p class="f-28 bitter-bold c-x-l-gray m-b-60"><strong>Profile Settings</strong></p>
					<form name="vm.userForm" data-ng-submit="vm.updateUserProfile(vm.userForm.$valid)" class="m-t-40" role="form" autocomplete="off">
						<div class="form-group" data-ng-class="{ 'has-error': vm.userForm.firstName.$touched && vm.userForm.firstName.$invalid }">
							<label class="c-gray" for="input">First Name</label>
							<input type="text" required id="firstName" name="firstName"
							required data-ng-pattern="/^[a-zA-Z`']+$/" data-ng-maxlength = "32" data-ng-minlength="2" class="form-control input-lg bg-white" data-ng-model="vm.user.firstName" placeholder="First Name">
							<span data-ng-show="vm.userForm.firstName.$touched && vm.userForm.firstName.$invalid && vm.userForm.firstName.$error.required" class="help-block">First name is required.</span>
							<span data-ng-show="vm.userForm.firstName.$touched && vm.userForm.firstName.$invalid && vm.userForm.firstName.$error.pattern" class="help-block">Only letters, (`) and (') are allowed.</span>
							<span data-ng-show="vm.userForm.firstName.$touched && vm.userForm.firstName.$invalid && (vm.userForm.firstName.$error.maxlength || vm.userForm.firstName.$error.minlength)" class="help-block">First name must be between 2 and 32 characters long.</span>

						</div>
						<div class="form-group" data-ng-class="{ 'has-error': vm.userForm.lastName.$touched && vm.userForm.lastName.$invalid }">
							<label class="c-gray" for="input">Last Name</label>
							<input type="text" id="lastName" name="lastName" class="form-control input-lg bg-white" required data-ng-pattern="/^[a-zA-Z`']+$/" data-ng-maxlength = "32" data-ng-minlength="2"  data-ng-model="vm.user.lastName" placeholder="Last Name">

							<span data-ng-show="vm.userForm.lastName.$touched && vm.userForm.lastName.$invalid && vm.userForm.lastName.$error.required" class="help-block">Last name is required.</span>
							<span data-ng-show="vm.userForm.lastName.$touched && vm.userForm.lastName.$invalid && vm.userForm.lastName.$error.pattern" class="help-block">Only letters, (`) and (') are allowed.</span>
							<span data-ng-show="vm.userForm.lastName.$touched && vm.userForm.lastName.$invalid && (vm.userForm.lastName.$error.maxlength || vm.userForm.lastName.$error.minlength)" class="help-block">Last name must be between 2 and 32 characters long.</span>
						</div>
						<div class="form-group" data-ng-class="{ 'has-error':vm.userForm.email.$touched && vm.userForm.email.$invalid }">
							<label class="c-gray" for="input">Email Address</label>
							<input type="text" class="form-control input-lg bg-white" id="email" name="email" data-ng-model="vm.user.email" required data-ng-maxlength="50" data-ng-pattern="/^[_a-z0-9/+]+(\.[_a-z0-9/+]+)*@[a-z0-9-]+(\.[a-z0-9-])*(\.[a-z]{2,4})$/i" data-check-field-async="{key: vm.user._id, property: 'email', type: 'User'}" placeholder="Email">

							<span data-ng-show="vm.userForm.email.$touched && vm.userForm.email.$invalid && vm.userForm.email.$error.required" class="help-block">Email Address is required.</span>
							<span data-ng-show="vm.userForm.email.$touched && vm.userForm.email.$invalid && (vm.userForm.email.$error.maxlength)" class="help-block">Email Address must not be greater than 50 characters.</span>
							<span data-ng-show="vm.userForm.email.$touched && vm.userForm.email.$invalid && vm.userForm.email.$error.pattern" class="help-block">Not valid Email Address.</span>
							<span data-ng-show="vm.userForm.email.$touched && vm.userForm.email.__CHECKING_FIELD" >Checking Email...</span>
							<span class="help-block" data-ng-show="vm.userForm.email.$touched && vm.userForm.email.$error.isDuplicatedEmail">Email already used</span>
						</div>
						<!-- <div class="form-group">
							<label class="c-gray" for="input">User Name</label>
							<input readonly="readonly" disabled="disabled" type="text" class="form-control input-lg bg-white" id="username" name="username" data-ng-model="vm.user.username" placeholder="Username">
						</div> -->
						<div class="form-group" data-ng-class="{ 'has-error': vm.userForm.phoneNumber.$touched && vm.userForm.phoneNumber.$invalid }">
							<label class="c-gray" for="input">Phone Number</label>

							<input name="phoneNumber" type="text" class="form-control input-lg bg-white" data-ng-model="vm.user.phoneNumber"  data-ng-maxlength="15" data-ng-minlength="9" data-ng-pattern = "/^[0-9]+$/">
							<!-- <span data-ng-show="vm.userForm.phoneNumber.$touched && vm.userForm.phoneNumber.$invalid && vm.userForm.phoneNumber.$error.required" class="help-block">Phone number is required.</span> -->
							<span data-ng-show="vm.userForm.phoneNumber.$touched && vm.userForm.phoneNumber.$invalid && (vm.userForm.phoneNumber.$error.maxlength || vm.userForm.phoneNumber.$error.minlength)" class="help-block">Phone number must be between 9 and 15 characters long.</span>
							<span data-ng-show="vm.userForm.phoneNumber.$touched && vm.userForm.phoneNumber.$invalid && vm.userForm.phoneNumber.$error.pattern" class="help-block">Only numbers are allowed.</span>
						</div>
						<div class="text-center m-b-60">
							<button data-ng-disabled="!vm.userForm.$valid" class="btn btn-lg btn-theem btn-block" type="submit">Save Changes</button>
						</div>

						
						
					</form>

					<a class="m-b-20 c-pointer" data-ng-click="toggleChangePasswordWindow()"><i class="fa {{(showChangePassword)?'fa-minus':'fa-plus'}}"></i> Change Password</a>

					<form id="bottom" data-ng-if="showChangePassword" name="changePasswordForm" data-ng-submit="vm.changeUserPassword(changePasswordForm)" class="m-t-40" role="form" autocomplete="off">
						<div  class="form-group" data-ng-class="{ 'has-error': changePasswordForm.firstName.$touched && changePasswordForm.firstName.$invalid }">
							
							<div class="form-group" data-ng-class="{ 'has-error': changePasswordForm.currentPassword.$touched && changePasswordForm.currentPassword.$invalid }">
								<label class="c-gray" for="input">Current Password</label>
								<input type="password" required data-ng-model="vm.passwordDetails.currentPassword" name="currentPassword" data-ng-maxlength = "32" data-ng-minlength="6" valid- username = "{{user.username}}" email = "{{user.email}}" firstname = "{{user.firstName}}" lastname = "{{user.lastName}}" class="form-control input-lg bg-white">
								<span data-ng-show="changePasswordForm.currentPassword.$touched && changePasswordForm.currentPassword.$invalid && changePasswordForm.currentPassword.$error.required" class="help-block">Current Password is required.</span>

								<span data-ng-show="changePasswordForm.currentPassword.$touched && changePasswordForm.currentPassword.$invalid && (changePasswordForm.currentPassword.$error.maxlength || changePasswordForm.currentPassword.$error.minlength)" class="help-block">Current password must be 6 to 32 characters long.</span>
								
							</div>



							<div class="form-group" data-ng-class="{ 'has-error': changePasswordForm.password.$touched && changePasswordForm.password.$invalid }">
								<label for="password" class="c-gray">New Password</label>
								<input type="password" required id="password" name="password" class="form-control input-lg bg-white" data-ng-model="vm.passwordDetails.newPassword" data-ng-maxlength = "32" data-ng-minlength="6"   uib-popover="{{vm.getPopoverMsg()}}" uib-popover-trigger="focus" password-validator >
								<!-- password-verify="vm.passwordDetails.verifyPassword" -->
								<span data-ng-show="changePasswordForm.password.$touched && changePasswordForm.password.$invalid && changePasswordForm.password.$error.required" class="help-block">Password is required.</span>
								<span data-ng-show="changePasswordForm.password.$touched && changePasswordForm.password.$invalid && changePasswordForm.password.$error.includeUsernameEmail" class="help-block">Your password cannot include your Username/Email Address.</span>
								<span data-ng-show="changePasswordForm.password.$touched && changePasswordForm.password.$invalid && changePasswordForm.password.$error.includeName" class="help-block">Your password cannot include any part of your name.</span>
								<span data-ng-show="changePasswordForm.password.$touched && changePasswordForm.password.$invalid && (changePasswordForm.password.$error.maxlength || changePasswordForm.password.$error.minlength)" class="help-block">Your password must be 6 to 32 characters long.</span>
								<div ng-repeat="passwordError in passwordErrors">
									<p class="help-block error-text" ng-show="changePasswordForm.password.$error.requirements">{{passwordError}}</p>
								</div>
								<span data-ng-show="changePasswordForm.verifyPassword.$touched && changePasswordForm.password.$invalid && changePasswordForm.password.$error.passwordVerify" class="help-block">The passwords you entered do not match. Please try again.</span>
							</div>
							<div class="form-group m-b-40" data-ng-class="{ 'has-error': changePasswordForm.verifyPassword.$touched && changePasswordForm.verifyPassword.$invalid }">
								<label for="verifyPassword" class="c-gray">Confirm Password</label>
								<input name="verifyPassword" required type="password" data-ng-model="vm.passwordDetails.verifyPassword"  class="form-control input-lg bg-white" password-verify="vm.passwordDetails.newPassword">
								<span data-ng-show="changePasswordForm.verifyPassword.$touched && changePasswordForm.verifyPassword.$invalid && changePasswordForm.password.$error.required" class="help-block">Confirm Password is required.</span>
								<span data-ng-show="changePasswordForm.verifyPassword.$touched && changePasswordForm.verifyPassword.$invalid && changePasswordForm.verifyPassword.$error.passwordVerify" class="help-block">The passwords you entered do not match. Please try again.</span>
							</div>

							<div class="text-center m-b-60">
								<button data-ng-disabled="!changePasswordForm.$valid" class="btn btn-lg btn-theem btn-block" type="submit">Change Password</button>
							</div>

						</div>

						
					</form>

					<!-- <a class="text-link c-gray center-block m-b-40 m-t-40" href="#">Delete My Account</a> -->
				</div>
			</div> <!--  end col-md-4 -->


			<div class="col-md-2 col-sm-2">
				<!-- <div class="user-prof">
					<img width="110px;" src="{{prev_img}}">
				</div> -->
				<!-- <a href="#"><span class="glyphicon glyphicon-user"></span></a> -->

				<!--  <button class="btn btn-default btn-sm" type="submit"><span class="glyphicon glyphicon-pencil"></span> Edit Photo</button> -->

				<!-- <span class="btn btn-default btn-sm btn-file" style="margin-left: 9px;" data-ng-hide="f.progress<100"><i class="fa fa-pencil"></i> Edit Photo 
					<input type="file" class="form-control" id="importFile" accept="image/*" onchange="angular.element(this).scope().file_changed(this)" data-ngf-max-size="1MB"  data-ngf-pattern="image/*" data-ngf-select="onFileSelect($files)" />
				</span> -->
				<!-- <span class="help-block">
					 <span class='error'>{{f.$error}}</span>
					</span> -->

					<form class="signin form-horizontal">
						
						<div class="text-center">
							<img ngf-src="vm.fileSelected ? vm.picFile :  (vm.user.profileImageURL)?'/' +vm.user.profileImageURL:'/modules/core/client/img/user_img.png'" alt="{{vm.user.displayName}}" class=" user-prof" ngf-drop>
								<!-- <div class="form-group user-prof text-center">
									
							</div> -->
						</div>
						<div ng-show="vm.loading" class="form-group text-center">
							<img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
						</div>
						<div ng-show="!vm.fileSelected" class="text-center form-group">
							<button class="btn btn-default btn-file" ngf-select="(vm.fileSelected = true) && (vm.loading = false)" ng-model="vm.picFile" accept="image/*" ngf-before-model-change="vm.loading = true" ngf-resize="{width: 400}" ngf-resize-if="$width > 400 || $height > 400">Select Picture</button>
						</div>
						<div ng-show="vm.fileSelected" class="text-center form-group">
							<!-- <button class="btn btn-primary" ng-click="vm.upload(picFile)">Use This Picture</button> -->
							<button class="btn btn-default" ng-click="vm.fileSelected = false">Cancel</button>
						</div>
						<div ng-show="vm.fileSelected" class="progress text-center">
							<div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress}}" aria-valuemin="0" aria-valuemax="100" style="width:{{vm.progress}}%" ng-bind="vm.progress + '%'">
								<span class="sr-only">{{vm.progress}}% Complete</span>
							</div>
						</div>
					</form>
				</div>

			</div> <!--  end col-md-12 -->

		</div><!--end row -->    

	</section>