<section data-ng-hide="authentication.user">
	<div class="main"> <!-- start main -->
		<div class="row" style="margin: 15% 12%;position: absolute;z-index: 2147483647;" ng-show="vm.loading">	
			<i class="fa fa-spinner fa-pulse fa-3x fa-fw margin-bottom"></i>
		</div>
		<div class="text-center m-t-100 m-b-45">
			<img src="/modules/core/client/img/brand/logo_login.png" class="m-b-10">
			<p class="text-center bitter-bold f-28 m-b-10 bitter-bold">Forgot Password</p>
			<p class="text-center c-l-gray f-18">Restore Your Password</p>
		</div>
		<form name="vm.forgotPasswordForm" ng-submit="vm.askForPasswordReset(vm.forgotPasswordForm.$valid)" class="signin" autocomplete="off" name="forgotPasswordForm">
			<fieldset>
				<div data-ng-show="error" class="text-center text-danger">
					<label>{{error}}</label>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<label>{{success}}</label>
				</div>
				<div class="form-group m-b-20" data-ng-class="{ 'has-error': vm.forgotPasswordForm.email.$touched && vm.forgotPasswordForm.email.$invalid && vm.forgotPasswordForm.email.$error.pattern }">
					<label class="c-gray">Enter your email</label>
					<input type="email" id="email" name="email" class="form-control input-lg" data-ng-model="vm.credentials.email" required  data-ng-maxlength="50" data-ng-pattern="/^[_a-z0-9/+]+(\.[_a-z0-9/+]+)*@[a-z0-9-]+(\.[a-z0-9-])*(\.[a-z]{2,4})$/i">
					<span data-ng-show="vm.forgotPasswordForm.email.$touched && vm.forgotPasswordForm.email.$invalid && vm.forgotPasswordForm.email.$error.pattern" class="help-block">Not valid Email Address.</span>

				</div>
				<div class="text-center m-b-30">
					<button type="submit" data-ng-disabled="vm.forgotPasswordForm.$invalid || vm.loading" class="btn btn-block btn-lg btn-theem l-btn">Send</button>
	                 <!-- <span class="text-left col-xs-6">
	                 	<a class="text-link c-l-gray" href="/#!/login"> Login now </a>
	                 </span> -->
	                <!--  <span class="text-right col-xs-6">
	                 	<a class="text-link c-l-gray" href="/#!/companySignup"> Sign up now </a>
	                 </span> -->
	             </div>
	         </fieldset>
	     </form>
	 </div>  <!-- end main -->
	</section>