<div class="container-fluid bg-l-gray"> <!-- main container -->
    <div class="row m-b-30"> <!--start row --> 
    	<div class="col-md-10 col-sm-9 bg-l-gray">
            <div class="col-md-9">
              <div> <!--left right -->
                <div class="form-group has-success has-feedback m-b-30">
                    <!-- <input type="text" class="form-control input-lg bg-white" placeholder="Search"> -->
                    <!-- <span class="glyphicon glyphicon-earphone"></span> -->
                </div>

                <div ng-if="!vm.isEnableEditor" ng-bind-html="vm.helpContentsBindHtml"></div>
                <!-- <div class="devide-line m-b-30">
                    <p class="Proxima-s-b f-18">How do I recognize a flower/plant ?</p>
                    <p class="m-b-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod and vitality, tempor ut labore et dolore magna aliqua.</p>
                </div>
                <div class="devide-line m-b-30">
                    <p class="Proxima-s-b f-18">How do I recognize a flower/plant ?</p>
                    <p class="m-b-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod and vitality, tempor ut labore et dolore magna aliqua.</p>
                </div>
                <div class="devide-line m-b-30">
                    <p class="Proxima-s-b f-18">How do I recognize a flower/plant ?</p>
                    <p class="m-b-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod and vitality, tempor ut labore et dolore magna aliqua.</p>
                </div>
                <div class="devide-line m-b-30">
                    <p class="Proxima-s-b f-18">How do I recognize a flower/plant ?</p>
                    <p class="m-b-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod and vitality, tempor ut labore et dolore magna aliqua.</p>
                </div>
                <div class="devide-line m-b-30">
                    <p class="Proxima-s-b f-18">How do I recognize a flower/plant ?</p>
                    <p class="m-b-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod and vitality, tempor ut labore et dolore magna aliqua.</p>
                </div>
                <div class="devide-line m-b-30">
                    <p class="Proxima-s-b f-18">How do I recognize a flower/plant ?</p>
                    <p class="m-b-40">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod and vitality, tempor ut labore et dolore magna aliqua.</p>
                </div> -->
            </div>
        </div> <!--  end col-md-9 -->

        <!--start right -->    
        <div class="col-md-3 col-sm-12">
            <div class="text-center m-t-10">
                <div class="m-b-20">
                   

                    <a href="#" class="f-16 t-brake" onclick='window.location.href = "mailto:support@kudzuapp.com?subject=Kudzu Query&body=Hi Support,";'> <span class="glyphicon glyphicon-envelope f-26 c-org m-b-10 "></span></a>

                    <a href="#" style="text-decoration: none;" onclick='window.location.href = "mailto:support@kudzuapp.com?subject=Kudzu Query&body=Hi Support,";'> <p class="f-20 c-org">Support</p></a>
                </div>
                <div class="m-b-50">
                  <!--   <p class="f-16 m-b-5">888.5551.342</p> -->
                  <a href="#" class="f-16 t-brake" onclick='window.location.href = "mailto:support@kudzuapp.com?subject=Kudzu Query&body=Hi Support,";'>support@kudzuapp.com</a>
              </div>
              <hr>

                <!--
                  <div>
                        <p class="f-18 c-gray">HOURS</p>
                        <p class="f-16 m-b-5">Monday-Friday</p>
                        <p class="f-16 ">9am-5pm PST</p>
                    </div>   -->
                    
                </div>
            </div><!--start right -->


        </div> <!-- end col-md-9 --> 

    </div><!--end row -->    


</div><!-- main container -->
